.img {
  width: 200px; 
  height: auto; 
}
.header {
  background-color: #333; 
  color: #fff; 
  padding: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.container {
  display: flex;
  align-items: center;
}

.logo img {
  width: 450px; 
  height: auto; */
  margin-right: 40px;
}

.content {
  flex: 1;  
}
.goals-link a {
  text-decoration: none;
  color: #fff;
}

.goals-link a:hover {
  text-decoration: underline;
}

.image-container {
  display: flex; }
 
    width: 70%; /* Metin alanının genişliğini ayarla */
    padding: 0 20px; /* Metin ile resim arasına biraz boşluk ekle */
